TS__API_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJkYXZvb2RwYXRlbHBAZ21haWwuY29tIiwicGVybWlzc2lvbnMiOiJ1c2VyIiwiY3JlYXRlZF9hdCI6IjIwMjUtMDgtMjRUMDU6NTQ6MTUuNjE1MDIxKzAwOjAwIn0.E0hWVKBiuDmdEW28EAPkD6ujfvhgUY8IP50zQAG0qoo
PORT = 5000